Source: check-ice2
Priority: optional
Section: sound
Maintainer: Michel Depeige <demik475@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.8
Homepage: https://github.com/demik/check_ice2
Vcs-Git: https://github.com/demik/check_ice2.git

Package: check-ice2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nagios plugin to check if a ICE or Shoucast stream status
 It is a Nagios plugin to check if a ICE or Shoucast stream status.
 Designed as a drop-in replacement for check_ice, with additionnal features :
 - IPv6 support
 - ICY name checks
